/*
font-family: 'Righteous', cursive;
font-family: 'Roboto Condensed', sans-serif;
*/

* {
  font-family:$font;
}

/*INDEX 1 LOGIN*/
.seccion-1{
    background-color: $rosado;
    height: 100vh; 
   
    h1{
      color: #FFF;
      font-size: 70px;
      font-family: $font;
      padding-top:30%;
      padding-bottom: 15%;       
    }

    .btn-default{
      width: 100%;
      color: #c14748;
      height: 35px;
      color: $rosado;
      background-color: #FFF;
    }
    
    .login .create{
      padding-top: 30px;
      margin-top: 20px;
    }

    a{
      font-family: $titulos;
      color: #FFF;
      font-size: 15px;
      margin: 2%;
      /*padding-top:10px; */
    }
 
}

/*INDEX 2 ACCOUNT*/

/*nav*/
.nav-menu{
  padding-bottom: 0%;
  margin-bottom: 0px;
}
.navbar-inverse a {
  padding-top: 4%;
  padding-right: 3%;

    
}
.navbar-inverse .fa-search {
  color: #FFF;
}
.navbar-inverse .title-nav{
  color: #FFF;
}
#create-account{
  background-color: #E2E2E2;
}
.seccion-2{
  margin-top: 0px;
  background-color: #E2E2E2;
  height: 700px;
  width: 100%;
  .form-label{
  color: $rosado;
  }

  .boton-account{
    background-color: #2B2C30;
    background-position: cover;
    color: #FFF;
    width: 80%;
    margin-top: 30px;
  }
}